:root{
    --bg-color: #111111;
    --outline-color: #333333;
    --outline-hover-color: #555555;
    --text-color: #EEEEEE;
    --contrast-color: #00ADB5;
}

html{
    overflow-y: scroll
}

html, body{
    background-color: var(--bg-color);
    margin: 0;
}

@keyframes glowAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
    display: flex;
    justify-content: center;

}

.background {
    background: linear-gradient(270deg, #1a1a1a, #111, #1a1a1a, #1a1a1a, #00ffe0, #b45fff);
    animation: glowAnimation 20s ease infinite;
}
.background::before {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05), transparent 70%);
  pointer-events: none;
}


.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.source-sans-3-paragraph {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--text-color);
    /*margin: 0;*/
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Source Sans 3", sans-serif;
    opacity: 0.7;
}

.page-section h2 {
    border-bottom: 1px solid var(--outline-hover-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.page-container {
    background: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(5px);
}

.main-container{
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar, .page-container{
    background: #1a1a1a;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.sidebar{
    align-self: flex-start;
    position: sticky;
    top: 50px;
    width: 300px;
}

.introduction-container, .contact-container{
    margin: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container p {
    opacity: 0.7;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
}

.socials-container{
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.social-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.headshot{
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid var(--outline-color);
}


.page-container{
    width: 900px
}

.page-header{
    display: flex;
    flex-direction: row;
}
.page-title-container{
    flex: 4;
    display: flex;
    align-items: center;
}
.page-title{
    padding: 20px 5px 0 0;
    margin: 0 0 0 25px;
}

.page-navigator{
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    border-radius: 0 0 0 25px;
    background-color: var(--outline-color);
    overflow: hidden;
}
.page-navigator-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.2s ease;
}

.page-navigator-button:hover{
    background-color: var(--outline-hover-color);
}
.page-navigator-button.selected {
    background-color: var(--outline-hover-color);
}

.skill-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.skill{
    border: 1px solid var(--outline-color);
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
}
.fit-content{
  width: fit-content;
}

.page {
    transition: opacity 1s ease;
}

.page.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}


.page-section{
    margin: 25px;
}
.page-subsection{
    margin: 15px;
}

.page-subsection h3 + p,
.page-subsection h4 + p {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 10px;
    margin-top: 10px;
}

.hidden{
    display: none;
}

.no-margin{
    margin: 0;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtle-text{
    opacity: 0.7;
}